<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Account</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Settings
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Dark mode</a></li>
            <li><a class="dropdown-item" href="#">Usage data</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">friends</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">More</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
<a href="/logout" class="btn btn-danger">
Logout
</a>
      </form>
    </div>
  </div>
</nav>

<div class="card">
  <div class="card-body">
    <div class="bg-success p-2 text-dark bg-opacity-10">
      <center><h3>Welcome</h3></center> 
    </div>
   
  </div>
  <img src="https://images.pexels.com/photos/28301967/pexels-photo-28301967/free-photo-of-a-desk-with-two-monitors-and-a-laptop.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="card-img-bottom" alt="...">
</div>

